/*
Theme Name: Bird International
Description: Bird International Theme
Author: Allan Paul Rosero
Author URI: https://facebook.com/cjrosero01
Template: Rocked
Version:1.0;
*/
@import url("../rocked/style.css");
@font-face {
 font-family: robo-slab;
 src: url('../rocked-child/font/robot-slab.ttf');
}

h1,h2,h3,h4,h5{
  font-family: robo-slab !important;
  color:#ffffff;
}

#header .widget {
  left: 50%;
  padding-top: 0;
  position: absolute;
  top: 0;
  transform: translate(-50%);
  z-index: 999;
}

.social-logo>img{
  height:100px;
  max-height: 100px;
}

.social-logo-footer>img{
  max-height: 30px;
}
#header>.header-wrap{
	background-color: #8ec641 !important;
}

#mainnav{
	float:none;
}

#mainnav ul {
	padding-right: 20px;
	text-align: center;
}

#mainnav ul li a {
  color: #fff !important;
  font-size: bold !important;

}
#mainnav ul li {


  width: 14%;
  text-align: center;
}

#bird-background-image{
 background: url(img/background.jpg) no-repeat center center fixed;  
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}

h1{
	color:#FFFFFF;
}

#new-footer{
 background: url(img/gradient-footer.jpg);  
 -webkit-background-size: 100% auto;
 -moz-background-size: 100% auto;
 -o-background-size: 100% auto;
 background-size: 100% auto;
 background-position: center;
}

.footer-color-header{
	color:#8EC63F;	
	font-weight: bold;
 font-size: 15px
}

.footer-color-lower{
	color:#ffffff;	
	font-weight: bold;
  font-size: 15px
}

.footer-image-left{
	margin-top: 10px;
}

.footer-image-left img{
  max-width: none;
}

.footer-panel{
  padding:20px;
}

.footer-touch{
  color: #ffffff;
  /* font-weight: bold; */
  font-size: 17px
}

.footer-wrapper{

  background-color: #8ec641 !important;
}

.f-breeds{
  letter-spacing: 5px;
  text-transform: uppercase;

}

/*.hentry{
  background-color: #1f8813;
}*/


/*TOOL TIP*/

.tooltip {
  position: relative;
  display: inline-block;

}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


/*Category Section*/

.thumb-category:hover img{
  opacity: 0.3;
}

.thumb-category:hover .middle {
  opacity: 1;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.thumb-category {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.cat-text {

  color: white;
  font-size: 16px;
  padding: 16px 32px;

}

.content-list{
  background-color: rgba(4, 6, 0, 0.52);
  padding: 30px;
  border-radius: 1%;
  margin: 5px;  
  color:#ffffff;
}

p{
  color:#ffffff;
}

@media screen and (max-width: 414px) {
  .category-list{
    height: auto !important;
  }
}

/*LAYOUT */
.main-content {
    padding: 38px 0;
}

/*END CATEGORY*/

